<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criticas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style = "margin-top : 2%">
    <div class = "container">
        <a href="{{url_usr}}" style="float: right; margin-right: 5%">
            <button class = "button">
                <i class="glyphicon glyphicon-off" style="font-size:24px"></i> &nbsp Cerrar sesión
            </button>
        </a>
        <p>
            <a href="/criticas/nueva?asg={{ libro.key.urlsafe() }}" style="margin-left: 5%">
                <button class = "button">
                    <i class="fa fa-plus" style="font-size:24px"></i> &nbsp Añadir crítica
                </button>
            </a>
        </p>
    {% if criticas.count() > 0 %}
        {% for critica in criticas %}
            <div class = "list-group" style="margin-left: 5%; margin-right: 5%; margin-top: 1%">
                <div class="list-group-item">
                    <table class = "table">
                        <tbody>
                            <td style = "width: 50%; border-top: none"><b>Alias: </b> &nbsp {{ critica.alias }}</td>
                            <td style = "border-top: none"><b>Nota: </b> &nbsp {{ critica.nota }}</td>
                        </tbody>
                        <tbody>
                            <td style = "width: 50%"><b>Fecha: </b> &nbsp {{ critica.fecha }}</td>
                            <td><b>Año: </b> {{ libro.anho }}</td>
                        </tbody>
                        <tbody>
                            <td>
                                <p><b>Comentario: </b></p>
                                <p>{{critica.comentario}}</p>
                            </td>
                        </tbody>
                    </table>
                {% if user == critica.usuario or usr == "admin@example.com"%}
                    <p>
                        <a href="/criticas/modifica?id={{ critica.key.urlsafe() }}">
                            <button class = "button">
                                <i class="glyphicon glyphicon-pencil" style="font-size:24px"></i> &nbsp Modificar crítica
                            </button>
                        </a>
                        <a href="/criticas/elimina?id={{ critica.key.urlsafe() }}" style="float: right; margin-right: 35%">
                            <button class = "button">
                                <i class="fa fa-minus" style="font-size:24px"></i> &nbsp Eliminar crítica
                            </button>
                        </a>
                    </p>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
            <div class = "list-group" style="margin-left: 5%; margin-right: 5%; margin-top: 1%">
                <div class="list-group-item">
                    <table class = "table">
                        <tbody>
                            <td style = "width: 50%; border-top: none; font-size:18px"><b>No hay críticas disponibles para este libro </b></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
        <p>
            <a href="/libros/listado" style="margin-right: 5%; float: right">
                <button class = "button">
                    <i class="glyphicon glyphicon-arrow-left" style="font-size:24px"></i> &nbsp Volver al listado de libros
                </button>
            </a>
        </p>
    </div>
</body>
</html>