<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
</head>
<body>
    {% if libros.count() > 0 %}
        {% for libro in libros %}
            <p><b>Nota media: </b> {{ libro.notaMedia }} </p>
            <p><b>Título: </b> {{ libro.titulo }}</p>
            <p><b>Autor: </b> {{ libro.autor }}</p>
            <p><b>Año: </b> {{ libro.anho }}</p>
            <p><b>Enlace: </b> {{ libro.enlace }}</p>
            <a href="/criticas/listado?id{{libro.key.urlsafe()}}"> Críticas </a>
        {% endfor %}
    {% else %}
        <p><b>No hay libros registrados.</b></p>
    {% endif %}

    <p><a href="/libros/nuevo"> Añadir libro </a></p>

</body>
</html>