<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style = "margin-top : 2%">
    <a href="{{url_usr}}" style="margin-left: 40%">
        <button class = "button" style="font-size:26px; width: 20%">
            <i class="glyphicon glyphicon-user"
               style="font-size:32px;
               margin-top: 5%;
               margin-bottom: 5%;
               margin-left: 5%;
               margin-right: 5%
            ">
            </i>
            &nbsp Iniciar sesión
        </button>
    </a>
</body>
</html>